* {
    margin: 0;
    padding: 0;
}

.azul-marino {
    display: flex;
    gap: 120px;
    background-color: #1F2937;
    padding: 100px 450px;
    justify-content: space-between;
    align-items: flex-start;
}

.azul-marino .title{
    max-width: 300px;
}

.azul-marino .title{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.azul-marino .description{
    color: #E5E7EB;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.azul-marino .image-wrapper{
    max-width: 500px;
}

.azul-marino .image-wrapper img{
    width: 100%;
    height: auto;
}

.azul-marino button{
    background-color: #3882f6;
    color: white;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 0;
}


.card{
    max-width: 200px;
}

.card img{
    width: 100%;
    height: auto;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 2px 450px;
    flex: 1;
}

.container h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
}


header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    font-size: 24px;
    padding: 2px 450px;
}

.Grey{
    padding: 100px 450px;
    background-color: #E5E7EB;
    font-size: 36px;
}

.Grey>*:first-child{
    text-align: left;
}

.Grey>*:nth-child(2){
    text-align: right;
    font-weight:300;
    font-style: italic;
}

.Logo{
    font-weight: 800;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

li a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}