* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.azul-marino {
    align-items: flex-start;
    gap: 120px;
    padding: 100px 450px;
}

.azul-marino button {
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    padding: 10px 30px;
}

.azul-marino button:hover {
    cursor: pointer;
}

.azul-marino .description {
    padding-bottom: 20px;
    padding-top: 20px;
}

.azul-marino .image-wrapper{
    max-width: 500px;
}

.azul-marino .image-wrapper img {
    height: auto;
    width: 100%;
}

.azul-marino .title {
    font-size: 40px;
    max-width: 300px;
}

.azul-marino, header {
    background-color: #1F2937;
    justify-content: space-between;
}

.azul-marino .description, footer, li a, .White button {
    color: #E5E7EB;
    font-size: 18px;
}

.azul-marino, body, .card ul, .cards, header, ul, .White{
    display: flex;
}

.azul-marino .title, .azul-marino button, .container h1, header, .Logo, .White, .White button {
    color: #F9FAF8;
    font-weight: 800;
}

body {
    flex: 1 1 0;
    flex-direction: column;
    justify-content: space-between;
}

.cards {
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    flex: 1;
}

.card {
    max-width: 200px;
}

.card ul {
    flex-direction: column;
    gap: 10px;
}

.card img {
    height: 263px;
    overflow: hidden;
    width: 100%;
}

.cards, footer, header {
    padding: 2px 450px;
}

.container h1 {
    color:#1F2937;
    font-size: 36px;
    text-align: center;
}

.container>*:nth-child(2) {
    margin-bottom: 40px;
    margin-top: 20px;
}

footer {
    background-color: #1F2937;
    text-align: center;
}

.Grey {
    background-color: #E5E7EB;
    font-size: 36px;
    padding: 100px 450px;
}

.Grey>*:first-child {
    text-align: left;
}

.Grey>*:nth-child(2) {
    text-align: right;
    font-weight:300;
    font-style: italic;
}

header, .White {
    align-items: center;
    font-size: 24px;
}

img, .White button {
    border-radius: 5px;
}

ul {
    gap: 20px;
}

.White {
    background-color: #3882f6;
    border-radius: 10px;
    gap: 40px;
    margin: 100px 450px;
    padding: 40px 100px;
    justify-content: space-between;
}

.White button {
    background-color: inherit;
    border: 2px solid #F9FAF8;
    height: 30px;
    width: 100px;
}